<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <% include ../partials/meta/unitDetail %>
</head>

<body>
  <% include ../partials/header %>

  <div class="container container-body">
    <div class="row row-eq-height">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="card">
          <img class="card-img-top unit-image" <%- "src=\" ../../Static/Media/Units/Unit" + unit.ID + ".png\"" %> alt=" Unit Art">
          <div <%- "class=\"" + unit.color.toLowerCase() + " Unit card-body\"" %> >
            <h5 class="card-title">
              <%= unit.name %>
            </h5>
            <p class="card-text">
              <% for(var j = 0; j < unit.rarity; ++j) { %>
              &#x2B50
              <% } %>
            </p>
            <h6 class="card-subtitle mb-2 text-muted">Unit ID:
              <%= unit.ID %>
            </h6>
            <p class="card-text">
              <%= unit.type %><br />
              <%= unit.tribe.replace(" None" , "") %><br />
              Cost
              <%= unit.cost %>
            </p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Lv 1</th>
                  <th scope="col">Lv 99</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">HP</th>
                  <td>
                    <%- unit.minHP %>
                  </td>
                  <td>
                    <%- unit.maxHP %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">ATK</th>
                  <td>
                    <%- unit.minATK %>
                  </td>
                  <td>
                    <%- unit.maxATK %>
                  </td>
                </tr>
                <tr>
                  <th scope="row">REC</th>
                  <td>
                    <%- unit.minREC %>
                  </td>
                  <td>
                    <%- unit.maxREC %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6" style="height: 100%;">
        <div class="row">
          <div class="col">
            <div class="card">
              <h5 class="card-header background-red">Skill:
                <%= unit.skillName %>
              </h5>
              <div class="card-body">
                <p class="card-text">
                  <%= unit.skillDesc %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card">
              <h5 class="card-header background-green">cSkill:
                <%= unit.cskillName %>
              </h5>
              <div class="card-body">
                <p class="card-text">
                  <%= unit.cskillDesc %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <% if(unit.abilityOneName !== ""){ %>
        <div class="row">
          <div class="col-xs-12 col">
            <div class="card">
              <h5 class="card-header background-blue">Ability 1:
                <%= unit.abilityOneName %>
                <div class="text-muted">
                  Bug:
                  <% if(unit.abilityOneBugUnlock !== "") { %>
                  <%= unit.abilityOneBugUnlock %>
                  <% } else { %>1
                  <% } %>
                </div>
              </h5>
              <div class="card-body">
                <p class="card-text">
                  <%= unit.abilityOneDesc %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <% if(unit.abilityTwoName !== ""){ %>
        <div class="row">
          <div class="col-xs-12 col">
            <div class="card">
              <h5 class="card-header background-blue">Ability 2:
                <%= unit.abilityTwoName %>
                <div class="text-muted">
                  Bug:
                  <% if(unit.abilityTwoBugUnlock !== "") { %>
                  <%= unit.abilityTwoBugUnlock %>
                  <% } else { %>1
                  <% } %>
                </div>
              </h5>
              <div class="card-body">
                <p class="card-text">
                  <%= unit.abilityTwoDesc %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <% if(unit.abilityThreeName !== ""){ %>
        <div class="row">
          <div class="col-xs-12 col">
            <div class="card">
              <h5 class="card-header background-blue">Ability 3:
                <%= unit.abilityThreeName %>
                <div class="text-muted">
                  Bug:
                  <% if(unit.abilityThreeBugUnlock !== "") { %>
                  <%= unit.abilityThreeBugUnlock %>
                  <% } else { %>1
                  <% } %>
                </div>
              </h5>
              <div class="card-body">
                <p class="card-text">
                  <%= unit.abilityThreeDesc %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <% if(unit.abilityFourName !== ""){ %>
        <div class="row">
          <div class="col-xs-12 col">
            <div class="card">
              <h5 class="card-header background-blue">Ability 4:
                <%= unit.abilityFourName %>
		<div class="text-muted">
                Bug:
                <% if(unit.abilityOneBugUnlock !== "") { %>
                <%= unit.abilityFourBugUnlock %>
                <% } else { %>1
                <% } %>
              </div>
              </h5>
              <div class="card-body">
                <p class="card-text">
                  <%= unit.abilityFourDesc %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>

  <% include ../partials/footer %>
</body>

</html>